.site-footer {
  background: $secondary-color;
  padding: 3rem 0 1rem 0;

  &-social {
    display: flex;
    font-display: row;
    justify-content: space-around;
    align-items: center;
  }

  &-copyright {
    display: inline-block;
    position: relative;
    bottom: 0;
    color: $white;
    font-weight: 200;
    margin-top: 3rem;
    font-variant: small-caps;
    text-align: center;
    width: 100%;
  }
}
