.btn {
  font-family: $secondary-font;
  border: none;
  color: $white !important;
  padding: 1rem 2rem;
  border-radius: 0;

  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-start;

  &:focus {
    box-shadow: none;
  }
  .btn-area {
    display: block;
    overflow: hidden;
    span {
      position: relative;
      display: block;
      padding: 2px 0;
    }
  }
}

.btn-sm {
  padding: 10px 30px !important;
  font-size: 0.8rem;
}

.btn-rounded {
  border-radius: 40px;
}

.btn-primary {
  background: $primary-color;
  color: $white;
  &:hover {
    background: darken($color: $primary-color, $amount: 10);
  }
}

.btn-secondary {
  background: $secondary-color;
  color: $white;
  &:hover {
    background: darken($color: $secondary-color, $amount: 10);
  }
}
