//site color variables
$body-color: linear-gradient(to right, #100f2e, #0a0919);
$primary-color: #e4740c;
$secondary-color: #0a0919;
$text-color: #fff;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #f7f9ff;
$dark-gray: #646569;
$nav-background: $body-color;
$ease: cubic-bezier(0.36, 0.03, 0, 0.91);

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Montserat', 'Segoe UI', sans-serif;
$secondary-font: 'Raleway', $primary-font;
$nav-brand-font: 'Nunito', $primary-font;
