{{with .Site.Data.social}}
<footer class="site-footer">
    <div class="container">
      <div class="site-footer-social">
        {{range .icons}}
          <a href="{{.link}}" target="_blank"><i class="{{.class}}"></i></a>
        {{end}}
      </div>
    </div>
    <small class="site-footer-copyright">Made with ☕ by Dante De Ruwe - © {{now.Format "2006"}}</small>
</footer>
{{end}}

{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
{{ $script := resources.Get "js/vendor.js" | minify }}
<script src="{{ $script.Permalink }}"></script>